<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <!-- <meta name="apple-itunes-app" content="app-id=1418514170, app-argument="> -->
    <meta charset="UTF-8">
    
    <title>LIAN - Ứng dụng Bảo hiểm Tự động Đầu Tiên tại Việt Nam</title>
    <meta name="description" content="LIAN là Ứng dụng Bảo hiểm Tự động Đầu Tiên tại Việt Nam. Một sản phẩm công nghệ của Madam Đỗ Thị Kim Liên.">
    <meta name="keywords" content="lian, bao hiem lian, bảo hiểm lian, bao hiem, bao hiem tu dong, blockchain, boi thuong bao hiem, chung nhan bao hiem, quyen loi bao hiem">
        
    
    <link rel="shortcut icon" href="~/public/assets/images/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="~/">

    <link rel="stylesheet" href="~/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <link rel="stylesheet" href="~/public/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/public/assets/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/public/assets/css/style.css">
    <link rel="stylesheet" href="~/public/assets/css/custom.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="~/public/assets/js/bootstrap.min.js"></script>
    <script src="~/public/assets/js/spin.min.js"></script>
    <script src="~/public/assets/js/custom.js"></script>
    
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
    attribution=setup_tool
    page_id="246910822582510"
    logged_in_greeting="Xin chào! LIAN luôn sẵn sàng phục vụ bạn!"
    logged_out_greeting="Xin chào! LIAN luôn sẵn sàng phục vụ bạn!">
    </div>

    <!-- Global site tag (gtag.js) - Google Ads: 774232948 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-774232948"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-774232948');
    </script>

    <!-- Event snippet for Download App conversion page -->
    <script>
    gtag('event', 'conversion', {'send_to': 'AW-774232948/lOLPCL3JnJcBEPS2l_EC'});
    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2087960267992873');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2087960267992873&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61203997-9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-61203997-9');
    </script>
</head>
<body>
    <div class="d-flex flex-row align-items-center justify-content-between app-invite mobile">
        <button id="appinvite-close" class="btn btn-icon"><i class="fas fa-times-circle"></i></button>
        <img width="48" height="48" src="~/public/assets/images/logo.png" alt="Ứng dụng LIAN">
        <div class="appinvite-info">
            <h4>LIAN - BẢO HIỂM 24/7</h4>
            <p>VASS ASSURANCE CORPORATION</p>
            <p><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star"></i></p>
        </div>
        <a href="~/download" data-clipboard-target="#lian-ref" class="btn btn-lian-warning">TẢI</a>
        <a href="~/download" data-clipboard-target="#lian-ref" class="app-invite-overlay copy-link"></a>
    </div>
    <div class="lian-ref">
        <input type="text" id="lian-ref" value=""></span>
    </div>

    <a href="#page" class="toTop" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </a>

    <!-- Spin -->
    <div id="loading" tabindex="-1" role="dialog">
        <div class="loading-backdrop"></div>
        <div class="spin"><i class="fa fa-spinner fa-spin" style="font-size:48px; color: #fff;"></i></div>
    </div>

    <!-- Medium modal -->
    <div id="notification" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

    <div id="page" class="site">
        <header id="mast-head" class="site-header">
            <nav class="navbar navbar-expand-sm navbar-dark navbar-lian">
                <div class="container-fluid">
                    <a class="navbar-brand" href="~/">
                        <img src="~/public/assets/images/logo.png" alt="">
                        <span class="navbar-brandtext">LIAN App</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTop">
                        <ul class="navbar-nav m-auto text-sm-center">
                            <li class="nav-item">
                                <a class="nav-link" href="~/#package">Sản phẩm bảo hiểm</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="guideDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Hướng dẫn &amp; Tư vấn
                                </a>
                                <div class="dropdown-menu" aria-labelledby="guideDropdown">
                                    <a class="dropdown-item" target="_blank" href="~/public/assets/files/LIAN - Giới thiệu chức năng.pdf">Giới thiệu chức năng</a>
                                    <a class="dropdown-item" target="_blank" href="~/public/assets/files/LIAN - Hướng dẫn đăng ký CTV.pdf">Hướng dẫn đăng ký CTV</a>
                                    <a class="dropdown-item" target="_blank" href="~/public/assets/files/LIAN - Hướng dẫn xây dựng hệ thống.pdf">Hướng dẫn xây dựng hệ thống</a>
                                    <a class="dropdown-item" target="_blank" href="~/public/assets/files/LIAN - Hướng dẫn mua bảo hiểm.pdf">Hướng dẫn mua bảo hiểm</a>
                                    <a class="dropdown-item" target="_blank" href="~/public/assets/files/LIAN - Hướng dẫn thanh toán bảo hiểm.pdf">Hướng dẫn thanh toán bảo hiểm</a>
                                    <a class="dropdown-item" target="_blank" href="~/public/assets/files/LIAN - Hướng dẫn khai báo bồi thường.pdf">Hướng dẫn khai báo bồi thường</a>
                                    <a class="dropdown-item" target="_blank" href="~/public/assets/files/LIAN - Hướng dẫn sử dụng ví PayMe.pdf">Hướng dẫn sử dụng ví PayMe</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/ve-lian">Giới thiệu</a>
                            </li>
@*                          <li class="nav-item">
                            <a class="nav-link" href="~/bao-chi-noi-ve-lian">Báo chí nói về LIAN</a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link" href="~/dai-ly">Đại lý</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://www.facebook.com/lianvass">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/lien-he">Liên hệ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="public/assets/files/dieu-khoan-bao-ve-du-lieu-ca-nhan.pdf">ĐIỀU KHOẢN BẢO VỆ DỮ LIỆU CÁ NHÂN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    @RenderBody()

                    <section id="download" class="page-section">
                        <div class="container">
                            <header class="sec-header">
                                <h1>TẢI ỨNG DỤNG</h1>
                                <p>LIAN App đã có mặt trên iOS và Android</p>
                            </header>
                            <div class="sec-content">
                                <div class="w-75 m-auto">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="~/download" class="btn btn-block btn-lian copy-link"><i class="fab fa-apple"></i>LIAN CHO iOS</a>
                                        </div>
                                        <div class="col-sm-6 mt-4 mt-sm-0">
                                            <a href="~/download" class="btn btn-block btn-lian copy-link"><i class="fab fa-google-play"></i>LIAN CHO ANDROID</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        
        <footer id="colophon" class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mb-4 mb-sm-0">
                        <p><b>CÔNG TY CỔ PHẦN BẢO HIỂM VIỄN ĐÔNG</b><br>VASS ASSURANCE CORPORATION</p>
                        <p style="font-size: .8rem; line-height: 1.5rem; text-transform: uppercase">
                            19 Phùng Khắc Khoan, Phường Đa Kao<br>
                            Quận 1, TP. Hồ Chí Minh<br>
                            MST: 0303099446<br>
                            <i class="fas fa-phone fa-fw"></i> (84.28) 6288 3030<br>
                            <i class="fas fa-fax fa-fw"></i> (84.28) 3822 7619<br>
                            <i class="fas fa-exclamation-circle fa-fw"></i> 1900 9249<br>
                            <i class="fab fa-telegram-plane fa-fw"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f49d9a929bb4989d959ada829a">[email&#160;protected]</a>
                        </p>
                    </div>
                    <div class="col-sm-3 mb-4 mb-sm-0">
                        <p><b>LIAN.VN</b></p>
                        <ul class="navbar-nav navbar-bottom">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-angle-double-right"></i>Đối tác</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="public/assets/files/dieu-khoan-bao-ve-du-lieu-ca-nhan.pdf"><i class="fas fa-angle-double-right"></i>Bảo mật &amp; Quyền riêng tư</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/dieu-khoan-su-dung"><i class="fas fa-angle-double-right"></i>Điều khoản sử dụng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/lien-he"><i class="fas fa-angle-double-right"></i>Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <p><b>HỖ TRỢ KHÁCH HÀNG</b></p>
                        <ul class="navbar-nav navbar-bottom">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-facebook fa-fw"></i>Facebook</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-twitter fa-fw"></i>Twitter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-google-plus fa-fw"></i>Google+</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="site-copyright mt-5">
                <div class="container">
                    <p>&copy; Copyright 2018 LIAN. All rights are reserved.</p>
                </div>
            </div>
        </footer>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#lian-ref').val(window.location.href);
            $('.copy-link').click(function () {
                var input = $('#lian-ref');
                // input.val(result);
                if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {
                    var el = input.get(0);
                    var editable = el.contentEditable;
                    var readOnly = el.readOnly;
                    el.contentEditable = true;
                    el.readOnly = true;
                    var range = document.createRange();
                    range.selectNodeContents(el);
                    var sel = window.getSelection();
                    sel.removeAllRanges();
                    sel.addRange(range);
                    el.setSelectionRange(0, 999999);
                    el.contentEditable = editable;
                    el.readOnly = readOnly;
                } else {
                    input.select();
                }
                try {
                    document.execCommand("copy");  // Security exception may be thrown by some browsers.
                    console.log("Copied the text: " + input.val());
                } catch (ex) {
                    console.warn("Copy to clipboard failed.", ex);
                    return false;
                }
                input.blur();
            });

            $('#appinvite-close').click(function () {
                $(this).parent('.app-invite').addClass('hide');
            });
        });
    </script>
</body>
</html>
