<section id="header" class="page-header">
    <div class="container">
        <div class="maps-frame maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.345910740597!2d106.69535055091889!3d10.784796592278141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f35cf3c3807%3A0xc402df5585c901d1!2zMTkgUGjDuW5nIEto4bqvYyBLaG9hbiwgxJBhIEthbywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1532745793593" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="sec-bottom">
        <img class="img-fluid w-100" src="~/public/assets/images/header-bottom.png" alt="">
    </div>
</section>
<section id="contact-info" class="page-section">
    <div class="container">
        <div class="sec-content">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-5">
                    <div class="contact-info">
                        <h5>Liên hệ chúng tôi</h5>
                        <p><b>CÔNG TY CỔ PHẦN BẢO HIỂM VIỄN ĐÔNG</b><br>VIEN DONG ASSURANCE CORPORATION</p>
                        <p>
                            19 Phùng Khắc Khoan, Phường Đa Kao<br>
                            Quận 1, TP. Hồ Chí Minh<br>
                            <i class="fas fa-phone fa-fw"></i> (84.28) 6288 3030<br>
                            <i class="fas fa-fax fa-fw"></i> (84.28) 3930 8220<br>
                            <i class="fas fa-exclamation-circle fa-fw"></i> 1900 9249<br>
                            <i class="fab fa-telegram-plane fa-fw"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="472f332c2f07312634346924282a693129">[email&#160;protected]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-bottom">
        <img class="img-fluid w-100" src="~/public/assets/images/section2-bottom.png" alt="">
    </div>
</section>
<section id="contact" class="page-section">
    <div class="container">
        <header class="sec-header">
            <h1>TÔI CẦN TƯ VẤN TRỰC TIẾP?</h1>
        </header>
        <div class="sec-content contact-form-wrapper">
            <div class="row">
                <div class="col-sm-5 col-lg-4">
                    <div class="contact-form">
                        <h5 class="mb-4">Gửi ngay câu hỏi qua email</h5>
                        <form action="~/lien-he.html" onsubmit="return loading();" method="post" accept-charset="utf-8">
                            <input type="hidden" name="csrf_security" value="632e9521c3723dbef47eb9bb11bd3c88" style="display:none;" />
                            <div class="form-group input-effect">
                                <input type="text" name="fullname" class="form-control label-effect" id="name" required>
                                <label for="name">Họ và tên</label>
                            </div>
                            <div class="form-group input-effect">
                                <input type="tel" name="phone" class="form-control label-effect" id="phone" required>
                                <label for="phone">Số điện thoại</label>
                            </div>
                            <div class="form-group input-effect">
                                <input type="email" name="email" class="form-control label-effect" id="email" required>
                                <label for="email">Email</label>
                            </div>
                            <div class="form-group">
                                <label for="content" class="sr-only">Nội dung cần tư vấn</label>
                                <textarea class="form-control" name="content" id="content" rows="4" placeholder="Bất kỳ vấn đề gì bạn thắc mắc..." required></textarea>
                            </div>
                            <button type="submit" class="btn btn-block btn-lian-warning mb-3">Tư vấn cho tôi</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-7 col-lg-8">
                    <img class="img-fluid w-100" src="~/public/assets/images/contact-form.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>