<div class="app-invite-pop d-flex flex-row align-items-center">
    <div class="popup-container invite-popup">
        <div class="d-flex flex-row align-items-center mb-3">
            <img width="48" height="48" src="public/assets/images/logo.png" alt="Ứng dụng LIAN">
            <div class="appinvite-info" style="max-width:unset">
                <h4>LIAN - BẢO HIỂM 24/7</h4>
                <p>VASS ASSURANCE CORPORATION</p>
                <p><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star"></i></p>
            </div>
        </div>
        <p>Tải ngay ứng dụng để nhận các ưu đãi và thông tin mới nhất từ LIAN</p>
        <div class="row text-center">
            <div class="col-5">
                <button id="appinvite-close-btn" class="btn btn-link">Để sau</button>
            </div>
            <div class="col-7">
                <a href="download" data-clipboard-target="#lian-ref" class="btn btn-block btn-lian-warning copy-link">TẢI NGAY</a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="app-invite-pop d-flex flex-row align-items-center">
    <div class="popup-container f1-popup">
        <div class="f1-content">
            <img class="w-100" src="https://lian.vn/public/assets/images/home-poster-3.jpg" alt="">
        </div>
        <div class="f1-button">
            <div class="row text-center">
                <div id="hide-btn">
                    <button id="appinvite-close-btn" class="btn btn-link">Để sau</button>
                </div>
                <div id="down-btn">
                    <a href="https://lian.vn/download" data-clipboard-target="#lian-ref" class="btn btn-block btn-lian-warning copy-link">TẢI NGAY</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<section id="homeHeader" class="page-header">
    <div class="container">
        <div class="header-carousel owl-carousel">
            <div class="row align-items-center">
                <div class="col-sm-6 col-lg-5">
                    <h1>Ứng dụng bảo hiểm tự động đầu tiên tại Việt Nam</h1>
                    <p>
                        LIAN là ứng dụng di động trên nền tảng iOS/Android nhằm giúp các cá nhân tìm hiểu, đăng ký các gói bảo hiểm của Công ty Cổ phần Bảo hiểm Viễn Đông (VASS), nhằm bảo vệ cá nhân,gia đình và các nghĩa vụ cộng đồng.
                    </p>
                    <div class="row mt-5">
                        <div class="col-6 pr-1">
                            <a href="#package" class="btn btn-block btn-outline-light btn-lian-outline-white">XEM CHI TIẾT</a>
                        </div>
                        <div class="col-6 pl-1">
                            <a href="https://lian.vn/download" class="btn btn-block btn-lian-white copy-link">TẢI ỨNG DỤNG</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-7 text-center mt-5 mt-sm-0">
                    <img class="img-fluid w-75 m-auto img-slide" src="https://lian.vn/public/assets/images/slider1.png" alt="">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-6 col-lg-5">
                    <h1>LIAN App – Một sản phẩm công nghệ của Madam Đỗ Thị Kim Liên</h1>
                    <p>
                        <i class="fas fa-angle-double-right"></i> Phí thấp, bồi thường cao<br>
                        <i class="fas fa-angle-double-right"></i> Mua bảo hiểm đã nhanh, bồi thường còn NHANH HƠN<br>
                        <i class="fas fa-angle-double-right"></i> Đơn giản, đơn giản và RẤT ĐƠN GIẢN
                    </p>
                    <div class="row mt-5">
                        <div class="col-6 pr-1">
                            <a href="#package" class="btn btn-block btn-outline-light btn-lian-outline-white">XEM CHI TIẾT</a>
                        </div>
                        <div class="col-6 pl-1">
                            <a href="https://lian.vn/download" class="btn btn-block btn-lian-white copy-link">TẢI ỨNG DỤNG</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-7 text-center mt-5 mt-sm-0">
                    <img class="img-fluid w-50 m-auto" src="https://lian.vn/public/assets/images/slider2.png" alt="">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-6 col-lg-5">
                    <h1>Mua 1 phút - Bồi thường 30s</h1>
                    <p>
                        Chỉ trong vòng 1 phút với ba bước thực hiện đơn giản, bạn đã có thể cài đặt, chọn mua và hoàn tất hợp đồng Bảo hiểm cùng LIAN
                    </p>
                    <p>
                        <i class="fas fa-angle-double-right"></i> Không cần đi lại, không cần giấy tờ phức tạp <br>
                        <i class="fas fa-angle-double-right"></i> Phí Bảo hiểm thấp, mức bồi thường cao <br>
                        <i class="fas fa-angle-double-right"></i> Hỗ trợ nhanh chóng sau khi xảy ra sự cố
                    </p>
                    <div class="row mt-5">
                        <div class="col-6 pr-1">
                            <a href="#package" class="btn btn-block btn-outline-light btn-lian-outline-white">XEM CHI TIẾT</a>
                        </div>
                        <div class="col-6 pl-1">
                            <a href="https://lian.vn/download" class="btn btn-block btn-lian-white copy-link">TẢI ỨNG DỤNG</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-7 text-center mt-5 mt-sm-0">
                    <img class="img-fluid w-50 m-auto" src="https://lian.vn/public/assets/images/slider3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="sec-bottom">
        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/header-bottom.png" alt="">
    </div>
</section>
<section id="package" class="page-section">
    <div class="container">
        <header class="sec-header">
            <h1>CÁC GÓI BẢO HIỂM</h1>
        </header>
        <div class="package-carousel owl-carousel">
            <div>
                <div class="package right">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-15.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm<br>Trụ cột gia đình</h3>
                            <p>Bảo vệ bạn trước những bệnh tật không may mắc phải</p>
                            <a href="https://trucotgiadinh.lian.vn/" target="_blank" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="package left mt-5">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-4.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm tai nạn<br>cá nhân</h3>
                            <p>Bảo vệ chính bạn trước những rủi ro không may xảy ra</p>
                            <a href="https://lian.vn/bao-hiem-tai-nan-ca-nhan" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="package right">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-13.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm TNDS<br>Chủ xe Mô tô - Xe máy</h3>
                            <p>Bảo hiểm bắt buộc khi tham gia giao thông</p>
                            <a href="https://lian.vn/bao-hiem-tnds-xe-may" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="package left mt-5">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-12.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm<br>An tâm nhân viên</h3>
                            <p>Vững tin cống hiến!</p>
                            <a href="https://atnv.lianvass.com" target="_blank" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="package right">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-11.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm<br>Nhà tư nhân</h3>
                            <p>An cư lạc nghiệp, gia đình vui sống!</p>
                            <a href="https://lian.vn/bao-hiem-nha-tu-nhan" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="package left mt-5">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-10.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm du lịch<br>nước ngoài</h3>
                            <p>Bảo vệ bạn trong mỗi chuyến đi nghỉ dưỡng, trải nghiệm</p>
                            <a href="https://lian.vn/bao-hiem-du-lich-nuoc-ngoai" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="package right">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-9.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm toàn diện Sinh viên</h3>
                            <p>An tâm khám phá bản thân!</p>
                            <a href="https://lian.vn/toan-dien-sinh-vien" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="package left mt-5">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-7.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm an tâm<br>Lái xe</h3>
                            <p>Vững vàng tay lái trên mọi cung đường</p>
                            <a href="https://lian.vn/an-tam-lai-xe" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="package right">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-5.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Chăm sóc Toàn diện Phái đẹp</h3>
                            <p>Vì phụ nữ là để yêu thương!</p>
                            <a href="https://lian.vn/toan-dien-phai-dep" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="package left mt-5">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-6.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm an tâm<br>nghệ sĩ</h3>
                            <p>Giúp bạn luôn sẵn sàng cống hiến vì nghệ thuật!</p>
                            <a href="https://lian.vn/an-tam-nghe-si" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="package right">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-8.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm an tâm<br>Giáo viên</h3>
                            <p>Luôn khỏe mạnh để phát triển sự nghiệp trồng người</p>
                            <a href="https://lian.vn/an-tam-giao-vien" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="package left mt-5">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-2.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm trọn gói<br>hộ gia đình</h3>
                            <p>Bảo vệ bạn và gia đình trước những tai nạn không may xảy ra</p>
                            <a href="https://lian.vn/bao-hiem-tai-nan-gia-dinh" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="package right">
                    <div class="img-package">
                        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/package-photo-3.jpg" alt="">
                    </div>
                    <div class="package-info-wrapper">
                        <div class="package-info">
                            <h3>Bảo hiểm du lịch<br>trong nước</h3>
                            <p>Bảo vệ bạn trong mỗi chuyến đi nghỉ dưỡng, trải nghiệm</p>
                            <a href="https://lian.vn/bao-hiem-du-lich-trong-nuoc" class="btn btn-lian-warning">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-bottom">
        <img class="img-fluid w-100" src="https://lian.vn/public/assets/images/section2-bottom.png" alt="">
    </div>
</section>
<section id="about-us" class="page-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-5 text-left mb-4 mb-sm-0">
                <header class="sec-header">
                    <h1>ỨNG DỤNG LIAN</h1>
                </header>
                <div class="sec-content">
                    <p>
                        Ứng dụng LIAN là một sản phẩm công nghệ của Công ty Cổ phần Bảo hiểm Viễn Đông (VASS) nhằm đem đến một trải nhiệm công nghệ bảo hiểm hoàn toàn
                        tự động cho khách hàng. Khách hàng có thể đăng ký, thanh toán và nhận giấy chứng nhận bảo hiểm điện tử chỉ trong vài phút, hơn nữa việc bồi thường
                        bảo hiểm cũng hoàn toàn tự động với thời gian thanh toán chỉ trong 24h.
                    </p>
                    <p>
                        <b>VASS – Tiên phong áp dụng công nghệ trong bảo hiểm</b>
                    </p>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="about">
                    <div class="img-about">
                        <div class="youtube-frame">
                            <iframe src="https://www.youtube.com/embed/nBPKKVgOj2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="testimonial" class="page-section">
    <div class="container">
        <header class="sec-header">
            <h1>PHẢN HỒI CỦA KHÁCH HÀNG</h1>
        </header>
        <div class="sec-content">
            <div class="testimonial-carousel owl-carousel">
                <div>
                    <div class="img-user">
                        <img class="h-100" src="https://lian.vn/public/assets/images/testimonial-1.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <h4>Trung Phạm</h4>
                        <p>
                            Ứng dụng hiện đại, thao tác dễ dàng, thông tin tìm kiếm nhanh. Tôi rất hài lòng về LIAN vì không phải chờ đợi lâu.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="img-user">
                        <img class="h-100" src="https://lian.vn/public/assets/images/testimonial-2.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <h4>Thúy Hằng</h4>
                        <p>
                            Bảo hiểm di động thật tuyệt vời. Thông tin sản phẩm dễ hiểu, dễ đặt mua online. Tôi rất thích App LIAN.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="img-user">
                        <img class="h-100" src="https://lian.vn/public/assets/images/testimonial-3.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <h4>Lê Hùng</h4>
                        <p>
                            Chưa bao giờ tôi thấy việc mua bảo hiểm online lại dễ dàng như khi sử dụng ứng dụng LIAN.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://lian.vn/public/assets/owlcarousel/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {
        $('.header-carousel').owlCarousel({
            autoplay: true,
            autoplayTimeout: 8000,
            autoplayHoverPause: true,
            nav: false,
            dots: true,
            loop: true,
            margin: 15,
            items: 1,
        });
        $('.package-carousel').owlCarousel({
            autoplay: true,
            nav: false,
            dots: false,
            loop: true,
            margin: 30,
            items: 1,
            autoplayTimeout: 8000,
        });
        $('.testimonial-carousel').owlCarousel({
            animateIn: true,
            autoplay: true,
            autoplayHoverPause: true,
            nav: false,
            dots: false,
            loop: true,
            margin: 15,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 2
                },
                768: {
                    items: 3
                }
            }
        });
        // if ( $( window ).width() < 768 ) {
        //     setTimeout(function() {
        //         console.log('123123');
        //         $('.app-invite-pop').addClass('show');
        //     }, 200);
        // }
        setTimeout(function () {
            console.log('123123');
            $('.app-invite-pop').addClass('show');
        }, 200);
        $('#appinvite-close-btn').click(function () {
            $('.app-invite-pop').removeClass('show').addClass('hide');
        });
        setTimeout(function () {
            $('.f1-content').scroll(function () {
                $('#down-btn').addClass('down-collapse');
                $('#hide-btn').addClass('show').show(200);
            });
        }, 10000);
    });
</script>