<section id="header" class="page-header">
    <div class="container">
        <img class="img-fluid w-100 img-header" src="~/public/assets/images/about.jpg" alt="">
    </div>
    <div class="sec-bottom">
        <img class="img-fluid w-100" src="~/public/assets/images/header-bottom.png" alt="">
    </div>
</section>
<section id="about" class="page-section">
    <div class="container">
        <header class="sec-header">
            <h1>CHÍNH SÁCH QUYỀN RIÊNG TƯ ĐỐI VỚI DỊCH VỤ CỦA VASS</h1>
        </header>
        <div class="sec-content text-left">
            <p>Chính sách quyền riêng tư là chính sách mô tả các quyền riêng tư của Khách hàng liên quan đến việc VASS thu thập, xử lý, sử dụng, lưu trữ, chia sẻ và bảo vệ thông tin cá nhân của Khách hàng. Chính sách này điều chỉnh việc sử dụng dịch vụ của VASS của Khách hàng, áp dụng cho các thông tin đăng tải trên các website của VASS và tất cả các phương tiện, công cụ, ứng dụng, dịch vụ liên quan đến việc cung ứng dịch vụ của VASS. Trong trường hợp điều chỉnh chính sách quyền riêng tư, VASS có thể điều chỉnh chính sách bất kỳ thời điểm nào thông qua việc đăng tải chính sách được điều chỉnh lên website của VASS. Bản điều chỉnh có hiệu lực kể từ thời điểm được đăng tải. Khi Khách hàng sử dụng dịch vụ của VASS, điều đó đồng nghĩa với việc Khách hàng đồng ý và chấp nhận chính sách quyền riêng tư của chúng tôi.</p>
            <ol>
                <li><b>Thông tin cá nhân</b></li>
                <p>Thông tin cá nhân được hiểu là thông tin Khách hàng và tất cả các thông tin khác liên quan đến khách hàng, được VASS thu thập, ghi nhận, xử lý, sử dụng, lưu trữ, chia sẻ trong quá trình khách hàng truy cập và sử dụng dịch vụ của VASS. Đây là những thông tin quan trọng và bắt buộc để xác định danh tính một cá nhân/tổ chức cụ thể, bao gồm nhưng không giới hạn, thông tin định danh của cá nhân (họ và tên, ngày/tháng/năm sinh, CMTND/Căn cước công dân/Hộ chiếu, và các thông tin khác theo quy định của pháp luật…) hoặc thông tin định danh của tổ chức (Giấy chứng nhận đăng ký doanh nghiệp, thời điểm thành lập, và các thông tin khác theo quy định của pháp luật…), thông tin liên lạc (điện thoại đi động, địa chỉ email), thông tin tài khoản ngân hàng và các thông tin chi tiết cần thiết khác.</p>
                <p>Khách hàng phải cung cấp và cập nhật thông tin cho VASS một cách trung thực, chính xác. Khách hàng cam kết đảm bảo tính chính xác, đầy đủ của thông tin cần cung cấp cho VASS và kịp thời cập nhật ngay thông tin khi có thay đổi. VASS không chịu trách nhiệm giải quyết bất cứ tranh chấp/khiếu nại nào nếu thông tin khách hàng cung cấp có sự sai lệch, không chính xác hoặc giả mạo.</p>
                <p>Trừ khi nhận được thông báo của khách hàng, VASS sẽ tiếp tục cung cấp dịch vụ của VASS qua các địa chỉ mà khách hàng đã đăng ký. Mọi liên lạc của VASS qua các thông tin liên lạc sau cùng của khách hàng đã đăng ký với VASS sẽ được mặc định là đã gửi đến khách hàng, bất kể việc khách hàng có thực sự nhận được hay không. Nếu thông tin của VASS bị trả lại do địa chỉ liên lạc mà khách hàng cung cấp không có giá trị sử dụng, Bảo hiểm điện tửcủa khách hàng vì thế sẽ không được phép hoạt động và khách hàng không thể thực hiện bất kỳ giao dịch nào thông qua dịch vụ của VASS cho đến khi VASS nhận được các nội dung cập nhật liên quan.</p>
                <li><b>Thu thập thông tin</b></li>
                <p><b>2.1. Mục đích của việc thu thập và sử dụng thông tin</b></p>
                <ul style="list-style-type: disc">
                    <li>Đăng ký, truy cập và sử dụng dịch vụ của VASS;</li>
                    <li>Xác thực thông tin người sử dụng;</li>
                    <li>Xử lý giao dịch; gửi thông báo về các giao dịch của khách hàng;</li>
                    <li>Giải quyết tranh chấp, hỗ trợ điều tra, quản lý rủi ro của khách hàng trong quá trình sử dụng dịch vụ, ngăn chặn hoặc khắc phục các hành vi gian lận hay những hoạt động vi phạm, bất hợp pháp khác;</li>
                    <li>Kiểm tra khả năng thanh toán, đối chiếu kiểm tra tính chuẩn xác của thông tin;</li>
                    <li>Xác thực thông tin với bên thứ ba nhằm đảm bảo cung cấp dịch vụ thông suốt cho khách hàng (trường hợp dịch vụ mà VASS cung cấp dựa trên nền tảng của bên thứ ba mà VASS hợp tác);</li>
                    <li>Để tiến hành các hoạt động tiếp thị, khảo sát và nghiên cứu thị trường, đo lường và đánh giá hiệu ứng của dịch vụ, cải thiện nội dung dịch vụ;</li>
                    <li>Quản lý và bảo vệ hạ tầng kỹ thuật thông tin của VASS;</li>
                    <li>Hỗ trợ đảm bảo an ninh, bảo mật cho tài khoản của khách hàng; và</li>
                    <li>Các mục đích khác có liên quan.</li>
                </ul>
                <p><b>2.2. Phương thức thu thập thông tin</b></p>
                <p>Các phương thức thu thập thông tin bao gồm:</p>
                <ol style="list-style-type: lower-alpha">
                    <li><b><i>Thông tin được khách hàng khai báo:</i></b></li>
                    <p>Thông tin khách hàng khai báo bao gồm những thông tin khách hàng cung cấp trên mẫu đăng ký mở tài khoản và được cập nhật trong quá trình sử dụng dịch vụ như: các thông tin liên lạc của khách hàng; các thông tin về các giao dịch và hoạt động của khách hàng; các thông tin tài chính như tài khoản ngân hàng và/hoặc số thẻ tín dụng mà khách hàng sử dụng hoặc liên kết với dịch vụ. VASS cũng có thể thu thập thông tin từ khách hàng thông qua liên lạc giữa khách hàng và VASS, chẳng hạn thông qua các tương tác của khách hàng với nhân viên của VASS, những phản hồi của khách hàng đối với Bộ phận chăm sóc khách hàng của VASS, các thông tin khách hàng trao đổi, thỏa thuận, giải quyết tranh chấp khác được khách hàng cung cấp trong quá trình sử dụng dịch vụ của VASS.</p>
                    <li><b><i>Thông tin từ hệ thống:</i></b></li>
                    <ul class="mb-3" style="list-style-type: disc">
                        <li>VASS có thể thu thập thông tin khách hàng được gửi đến VASS từ máy tính, điện thoại của khách hàng hoặc các thiết bị khác mà khách hàng sử dụng để truy cập. Các thông tin này, bao gồm nhưng không giới hạn các nội dung sau: danh bạ, dữ liệu về các trang khách hàng truy cập, địa chỉ IP của máy tính, ID nhận dạng thiết bị, loại thiết bị, thông tin máy tính và thiết bị mạng, số liệu thống kê hiển thị của trang truy cập và các dữ liệu cơ bản khác.</li>
                        <li>Khi khách hàng truy cập và sử dụng dịch vụ của VASS, chúng tôi (hoặc các công cụ theo dõi hoặc thống kê hoạt động của website do các đối tác cung cấp) sẽ đặt một số cơ sở dữ liệu gọi chung là Cookies lên máy tính hoặc các thiết bị khác của khách hàng. Một trong số những Cookies này có thể tồn tại lâu để thuận tiện cho khách hàng trong quá trình sử dụng, Bảo hiểm điện tử dụ như: lưu email của khách hàng trong trang đăng nhập để khách hàng không phải đăng nhập lại v.v… Khách hàng có quyền từ chối nhận những Cookies này nếu những trình duyệt của khách hàng có chức năng từ chối đó, trừ khi các Cookies được VASS dùng để ngăn chặn gian lận và đảm bảo an toàn đối với các website kết nối.</li>
                    </ul>
                    <li><b><i>Thông tin từ các nguồn khác:</i></b></li>
                    <p class="mb-0">VASS có thể thu thập thông tin từ những nguồn khác như:</p>
                    <ul class="mb-3" style="list-style-type: disc">
                        <li>Khách hàng có thể sẽ cung cấp thông tin thông qua việc truy cập thông tin cá nhân được lưu trữ bởi bên thứ ba, chẳng hạn như bên cung cấp dịch vụ xác thực thông tin, các nhà cung cấp hàng hóa/dịch vụ, các trang thông tin điện tử, mạng xã hội, hệ thống gọi điện miễn phí trong ứng dụng. Khách hàng đồng ý rằng VASS hoàn toàn có thể thu thập, lưu trữ và sử dụng các thông tin này.</li>
                        <li>VASS có thể đề nghị khách hàng sử dụng thiết bị di động hoặc ứng dụng, website được tối ưu hóa phù hợp. Các quy định của chính sách này được áp dụng đối với việc truy cập, sử dụng các thiết bị, ứng dụng, website này. Khi Khách hàng tải và sử dụng các ứng dụng hoặc khi truy cập những website nói trên của VASS, VASS có thể nhận được các thông tin về định vị về thiết bị của khách hàng. VASS có thể sử dụng và căn cứ các thông tin này để cung cấp dịch vụ đến khách hàng (Bảo hiểm điện tử dụ những nội dung về quảng cáo, kết quả tìm kiếm hay những nội dung khác…). Hầu hết các thiết bị di động đều có chức năng cho phép khách hàng kiểm soát hoặc vô hiệu hóa chức năng định vị, hoặc trong trường hợp cần thiết, khách hàng có thể liên hệ với nhà cung cấp, để từ đó kiểm soát việc thông tin cho bên thứ ba các thông tin này.</li>
                    </ul>
                </ol>
                <li><b>Bảo mật và lưu trữ thông tin</b></li>
                <p>VASS lưu giữ và bảo mật thông tin cá nhân của khách hàng tại các máy chủ hệ thống và được đảm bảo an toàn bằng hệ thống tường lửa (firewall), đồng thời thiết lập và bảo vệ các kết nối trao đổi thông tin, giao dịch, sử dụng công nghệ SSL.</p>
                <p>Khách hàng đồng ý rằng VASS có quyền lưu trữ và chia sẻ thông tin cá nhân của khách hàng lên hệ thống lưu trữ đám mây và được hệ thống công nghệ thông tin đặt ngoài lãnh thổ Việt Nam.</p>
                <p>Khách hàng đồng ý rằng VASS và các đối tác của VASS có quyền lữu trữ thông tin các phương tiện thanh toán khách hàng đã sử dụng bao gồm thông tin về tài khoản ngân hàng, thẻ ATM, thẻ tín dụng và các phương tiện thanh toán khác nhằm mục đích tạo công cụ thuận tiện cho khách hàng lựa chọn nguồn thanh toán khi sử dụng dịch vụ.</p>
                <p>Toàn bộ thông tin của khách hàng khi truyền đi trên mạng hay lưu trữ đều được mã hóa, áp dụng cơ chế bảo mật đường truyền, chữ ký điện tử. Bên cạnh đó, các hoạt động tương tác trực tiếp với các máy chủ (server) và máy móc đặt tại các Data Center đều phải tuân thủ chặt chẽ các yêu cầu về an toàn và bảo mật công nghệ thông tin theo quy định của Ngân hàng nhà nước và các tiêu chuẩn an ninh, an toàn, bảo mật của quốc tế khác.</p>
                <li><b>Chia sẻ thông tin cá nhân với Bên thứ ba</b></li>
                <p><b>4.1. Chia sẻ thông tin cá nhân với khách hàng khác</b></p>
                <p>VASS có thể cung cấp cho các bên tham gia giao dịch các thông tin cần thiết của khách hàng hoặc các thông tin cần thiết khác để xác thực thông tin, nâng cao độ tin cậy và an toàn của giao dịch/dịch vụ. Bên nhận được thông tin không được phép sử dụng thông tin nhận được cho những mục đích không liên quan đến việc thực hiện giao dịch/dịch vụ, trừ khi có sự đồng ý của bên cung cấp thông tin.</p>
                <p><b>4.2. Chia sẻ thông tin cá nhân cho bên thứ ba khác</b></p>
                <p class="mb-0">VASS có thể chia sẻ thông tin cá nhân của khách hàng trong các trường hợp:</p>
                <ul class="mb-3" style="list-style-type: disc">
                    <li>Cung cấp, chia sẻ thông tin cho tòa án, các cơ quan có thẩm quyền theo quy định của pháp luật hoặc các yêu cầu phù hợp của bên thứ ba khác đối với VASS khi VASS nhận định được rằng việc tiết lộ thông tin cá nhân này là để ngăn chặn những thiệt hại vật chất hoặc thất thoát về tài chính, báo cáo/thông báo về những hành vi đáng nghi ngờ, điều tra những vi phạm đối với Điều khoản sử dụng.</li>
                    <li>Các bên thứ ba khác khi có sự đồng ý của khách hàng.</li>
                </ul>
                <li><b> Điều chỉnh thông tin cá nhân</b></li>
                <p>Khách hàng có quyền điều chỉnh thông tin cá nhân của mình vào bất kỳ lúc nào bằng cách truy cập vào tài khoản của khách hàng và kiểm tra hiện trạng nội dung đã cài đặt. Trường hợp khách hàng đóng tài khoản của mình, VASS sẽ tiến hành đóng tài khoản đó nhưng có thể sẽ vẫn lưu giữ thông tin cá nhân của khách hàng trong một khoảng thời gian nhất định nhằm phục vụ cho việc truy thu nợ, giải quyết tranh chấp, khắc phục sự cố, hỗ trợ điều tra, ngăn ngừa rủi ro, tuân thủ Điều khoản sử dụng, chống lại hành vi xóa dấu vết và gian lận.</p>
            </ol>
        </div>
    </div>
    <div class="sec-bottom">
        <img class="img-fluid w-100" src="~/public/assets/images/section2-bottom.png" alt="">
    </div>
</section>
<script>
    $(document).ready(function () {
        $(".label-effect").focusout(function () {
            if ($(this).val() != "") {
                $(this).addClass("has-content");
            } else {
                $(this).removeClass("has-content");
            }
        });
    });
</script>