<section id="header" class="page-header">
    <div class="container">
        <img class="img-fluid w-100 img-header" src="~/public/assets/images/about.jpg" alt="">
    </div>
    <div class="sec-bottom">
        <img class="img-fluid w-100" src="~/public/assets/images/header-bottom.png" alt="">
    </div>
</section>
<section id="about" class="page-section">
    <div class="container">
        <header class="sec-header">
            <h1>ĐIỀU KHOẢN SỬ DỤNG DỊCH VỤ ĐĂNG KÝ BẢO HIỂM ĐIỆN TỬ</h1>
        </header>
        <div class="sec-content text-left">
            <h5><b><u>ĐIỀU 1. TỔNG QUAN</u></b></h5>
            <br>
            <p><b>1.1. Mục đích và Phạm vi áp dụng</b></p>
            <p>Điều khoản sử dụng này (gọi tắt là “<b>Điều khoản</b>”) được áp dụng đối với các Khách hàng mở tài khoản, sử dụng dịch vụ Ứng dụng Bảo hiểm điện tử LIAN do Công ty Cổ phần Bảo hiểm Viễn Đông (VASS) cung cấp trên các nền tảng iOS, Android, Website và các dịch vụ tại các điểm giao dịch do Công ty Cổ phần Bảo hiểm Viễn Đông (VASS) ủy quyền. Điều Khoản này nhằm xác lập quyền và nghĩa vụ của khách hàng khi sử dụng sản phẩm/dịch vụ của Công ty Cổ phần Bảo hiểm Viễn Đông (VASS).</p>
            <p>Khách hàng cần đọc và đồng ý với Điều Khoản này trước khi sử dụng sản phẩm, dịch vụ do công ty VASS cung cấp. Bằng việc truy cập và chấp nhận Điều Khoản sử dụng này, khách hàng xác nhận đã hiểu rõ các điều khoản sử dụng và hoàn toàn đồng ý với từng phần cũng như toàn bộ các điều khoản và điều kiện được qui định tại đây, cũng như bất kỳ các điều chỉnh liên quan và chấp nhận rằng việc sử dụng Sản Phẩm/Dịch Vụ sẽ chịu sự điều chỉnh của những Điều Khoản này và mọi quy tắc, thủ tục, điều khoản và điều kiện cụ thể khác đối với các Sản Phẩm/Dịch Vụ được cung cấp.</p>
            <p><b>1.2. Sửa đổi, bổ sung nội dung:</b></p>
            <p>VASS có thể điều chỉnh nội dung Điều khoản này vào bất cứ thời điểm nào thông qua việc đăng tải nội dung được điều chỉnh trên website của VASS và/hoặc tất cả các phương tiện, công cụ, ứng dụng, dịch vụ liên quan đến việc cung ứng dịch vụ của VASS. Bản điều chỉnh có hiệu lực kể từ thời điểm được đăng tải. Những thay đổi này sẽ được VASS thông báo trước 15 (mười lăm) ngày làm việc trước khi áp dụng hiệu lực. /</p>
            <p>Nếu Khách hàng không đồng ý với nội dung điều chỉnh thì có thể chấm dứt sử dụng dịch vụ của VASS. Ngược lại, nếu Khách hàng tiếp tục sử dụng Dịch vụ của VASS thì có nghĩa là Khách hàng mặc nhiên đồng ý với các nội dung thay đổi.</p>
            <p><b>1.3. Giải thích từ ngữ</b></p>
            <ol style="list-style-type: lower-alpha">
                <li>"<b>Công ty Cổ phần Bảo hiểm Viễn Đông (VASS)</b>” (còn được gọi tắt là “VASS”) là đơn vị cung cấp Dịch vụ Ứng dụng Bảo hiểm điện tử</li>
                <li>"<b>Dịch vụ Ứng dụng Bảo hiểm điện tử LIAN</b>" (còn được gọi tắt là “Dịch vụ”) là Dịch vụ của VASS, cung cấp cho khách hàng chứng chỉ bảo hiểm điện tử do VASS phát hành và được sử dụng để ghi nhận việc đăng ký mua bảo hiểm và được bảo hiểm từ VASS</li>
                <li>"<b>Bảo hiểm điện tử LIAN</b>" (còn được gọi tắt là “Bảo hiểm điện tử điện tử”) là Chứng nhận bảo hiểm điện tử do VASS phát hành cho Khách hàng. Khách hàng có thể sử dụng Bảo hiểm điện tử để yêu cầu bồi thường bảo hiểm khi có sự cố liên quan đến gói bảo hiểm</li>
                <li>"<b>Khách hàng</b>" là những tổ chức, cá nhân là công dân Việt Nam và có nhu cầu sử dụng Dịch vụ Ứng dụng Bảo hiểm điện tử của VASS.</li>
                <li>"<b>Bộ phận Chăm sóc Khách Hàng</b>" là bộ phận hỗ trợ khách hàng trong quá trình sử dụng sản phẩm, dịch vụ của VASS, được cung cấp theo số điện thoại <b>1900 92 49 .</b> Chính sách và Quy trình giải quyết khiếu nại khách hàng được đăng tải trên trang web của VASS theo địa chỉ www.vass.com.vn</li>
                <li>"<b>Giao dịch</b>" là các hoạt động được thực hiện bởi Khách hàng nhằm sử dụng Dịch vụ mà VASS cung cấp bao gồm dịch vụ tại điểm giao dịch và dịch vụ trên ứng dụng Bảo hiểm điện tử LIAN.</li>
                <li>"<b>Đại lý</b>" là những khách hàng hợp tác với VASS trong việc hỗ trợ bán các gói bảo hiểm trên ứng dụng hoặc giới thiệu người sử dụng trên ứng dụng LIAN</li>
                <li>"<b>Tài khoản</b>" là tài khoản Bảo hiểm điện tử LIAN.</li>
                <li>"<b>Số dư tài khoản</b>" là số tiền Khách hàng có được do việc giới thiệu hoặc mua hộ gói bảo hiểm VASS trên ứng dụng LIAN</li>
                <li>"<b>Thông tin khách hàng</b>" là những thông tin và tài liệu quan trọng và bắt buộc để xác định danh tính của một cá nhân/tổ chức cụ thể, bao gồm nhưng không giới hạn bởi thông tin của cá nhân (tên, ngày/tháng/năm sinh, Chứng minh thư nhân dân hoặc Hộ chiếu (CMTND/Hộ chiếu…) hoặc thông tin của tổ chức (Giấy chứng nhận đăng ký doanh nghiệp, thời điểm thành lập…).</li>
            </ol>
            <br>
            <h5><b><u>ĐIỀU 2. DỊCH VỤ ỨNG DỤNG BẢO HIỂM ĐIỆN TỬ LIAN</u></b></h5>
            <br>
            <p><b>2.1. Mở Bảo hiểm điện tử </b></p>
            <p><b>2.1.1. Điều kiện mở Bảo hiểm điện tử:</b></p>
            <ol style="list-style-type: lower-alpha">
                <li>Là công dân Việt Nam, từ đủ 18 tuổi trở lên, đủ năng lực hành vi dân sự và có chứng minh thư nhân dân, căn cước công dân hoặc hộ chiếu hợp lệ, còn hiệu lực; Đối với khách hàng cá nhân là người có từ hai (02) quốc tịch trở lên, khách hàng cần cung cấp bổ sung thông tin về các quốc tịch, địa chỉ nơi đăng ký cư trú tại các quốc gia mang quốc tịch</li>
                <li>Là pháp nhân được thành lập và hoạt động hợp pháp theo pháp luật Việt Nam và có Giấy tờ chứng minh tư cách pháp nhân của doanh nghiệp (Giấy chứng nhận đăng ký doanh nghiệp; Giấy chứng nhận đăng ký kinh doanh và Giấy chứng nhận đăng ký thuế…)</li>
            </ol>
            <p><b>2.1.2. Quy trình mở Bảo hiểm điện tử </b></p>
            <ol style="list-style-type: lower-alpha">
                <li>Bước 1 : Lựa chọn gói bảo hiểm điện tử</li>
                <li>Bước 2 : Thanh toán bảo hiểm</li>
                <p class="mb-0">Khách hàng được lựa chọn 1 trong các hình thức thanh toán như sau:</p>
                <ul class="mb-3" style="list-style-type: disc">
                    <li>Thanh toán qua thẻ ATM</li>
                    <li>Thanh toán qua VISA/ MASTER</li>
                    <li>Thanh toán COD</li>
                </ul>
                <li>Cấp chứng nhận bảo hiểm điện tử</li>
                <ul class="mb-3" style="list-style-type: disc">
                    <li>Qua inbox ứng dụng</li>
                    <li>Qua tin nhắn SMS brandname LIAN</li>
                    <li>Qua email ( nếu khách hàng cung cấp )</li>
                </ul>
            </ol>
            <p><b>2.1.3. Các loại Bảo hiểm điện tử </b></p>
            <p><b>VASS cung cấp các loại bảo hiểm phi nhân thọ theo pháp luật Việt Nam</b></p>
            <p><b>2.2. Phong tỏa/tạm khóa Bảo hiểm điện tử </b></p>
            <p><b><i>2.2.1. Công ty VASS có quyền phong tỏa/tạm khóa một phần hoặc toàn bộ số tiền trên Bảo hiểm điện tử của Khách hàng mà không cần báo trước nếu xảy ra một trong số các trường hợp sau:</i></b></p>
            <ol style="list-style-type: lower-alpha">
                <li>Khi VASS phát hiện khách hàng vi phạm bất cứ quy định nào tài điều khoản này.</li>
                <li>Khi VASS phát hiện có mâu thuẫn, nhầm lẫn, sai sót hoặc chưa rõ ràng trong quá trình thực hiện các giao dịch;</li>
                <li>Khi VASS phát hiện có dấu hiệu phức tạp, bất thường, gian lận bảo hiểm, vi phạm pháp luật liên quan đến hoạt động thanh toán bảo hiểm</li>
                <li>Khi phát sinh tranh chấp liên quan đến các giao dịch của Bảo hiểm điện tử ;</li>
                <li>Theo yêu cầu của Khách hàng, trừ trường hợp thuộc phạm vi quyền từ chối của VASS;</li>
                <li>Khi khách hàng có bất cứ sự thay đổi nào liên quan đến việc sử dụng dịch vụ đã đăng ký và sự thay đổi này không đáp ứng đúng các quy định tại Điều khoản này;</li>
                <li>Khi có quyết định hoặc yêu cầu bằng văn bản của cơ quan có thẩm quyền yêu cầu phong tỏa tài khoản theo quy định của pháp luật.</li>
            </ol>
            <p><b><i>2.2.2. VASS sẽ tạm khóa chức năng đăng nhập Bảo hiểm điện tử của Khách hàng khi xảy ra một trong các trường hợp sau:</i></b></p>
            <p><b><i>2.2.3. Công ty VASS chấm dứt việc phong tỏa/tạm khóa số sư trên Bảo hiểm điện tử khi có một trong các điều kiện sau:</i></b></p>
            <p><b>2.3. Đóng Bảo hiểm điện tử điện tử</b></p>
            <p><b>2.3.1. Công ty VASS được quyền đóng Bảo hiểm điện tử trong các trường hợp sau:</b></p>
            <ol style="list-style-type: lower-alpha">
                <li>Theo yêu cầu của Khách hàng, trừ những trường hợp Khách hàng không được quyền đóng tài khoản theo quy định tại khoản 2.3.2</li>
                <li>Khách hàng vi phạm pháp luật hoặc vi phạm bất kỳ quy định nào trong Điều khoản này, hoặc bất kỳ điều khoản và điện kiện nào khác được quy định riêng cho từng tài khoản cụ thể;</li>
                <li>Khách hàng được cấp Bảo hiểm điện tử là cá nhân bị chết hoặc cơ quan nhà nước tuyên bố chết, mất tích hoặc mất năng lực hành vi dân sự;</li>
                <li>VASS chấm dứt hoạt động theo quy định của pháp luật;</li>
                <li>Các trường hợp khác theo quy định của pháp luật.</li>
            </ol>
            <p><b>2.3.2. Xử lý hợp đồng khi đóng Bảo hiểm điện tử </b></p>
            <br>
            <h5><b><u>ĐIỀU 3. QUYỀN VÀ TRÁCH NHIỆM CỦA VASS</u></b></h5>
            <br>
            <p><b>3.1. Quyền của VASS</b></p>
            <p>3.1.1. Được yêu cầu Khách hàng cung cấp đầy đủ các thông tin liên quan đến việc mở tài khoản và thực hiện các giao dịch trong quá trình sử dụng dịch vụ của VASS; Được xác minh với các bên liên quan về các thông tin cá nhân khách hàng liên quan đến việc mở Bảo hiểm điện tử và các thông tin do khách hàng cung cấp.</p>
            <p>3.1.2. Quy định và áp dụng các biện pháp bảo đảm an toàn, bảo mật trong quá trình mở và sử dụng tài khoản cho Khách hàng phù hợp với các quy định của pháp luật;</p>
            <p>3.1.3. Được quyền Cung cấp cho các cơ quan có thẩm quyền và tổ chức, cá nhân được phép các thông tin về Khách hàng và các Giao dịch theo đúng quy định pháp luật;</p>
            <p>3.1.4. Được quyền tạm khoá/phong tỏa/đóng Bảo hiểm điện tử của Khách hàng theo quy định tại khoản 2.2 Điều khoản này;</p>
            <p>3.1.6. Từ chối các lệnh thanh toán của Khách hàng trong các trường hợp sau:</p>
            <ol style="list-style-type: lower-alpha">
                <li>Số dư tài khoản khách hàng dưới 500.000 VNĐ</li>
                <li>Bảo hiểm điện tử đã hết hạn</li>
                <li>Khách hàng không thực hiện đầy đủ các yêu cầu về thủ tục thanh toán, lệnh thanh toán không hợp lệ, không khớp với các thông tin đã đăng ký trong hồ sơ mở tài khoản Bảo hiểm điện tử điện tử;</li>
                <li>Khi có yêu cầu của cơ quan nhà nước có thẩm quyền hoặc có bằng chứng không khớp với lời khai bảo hiểm</li>
            </ol>
            <p>3.1.7. Từ chối yêu cầu tạm khóa, đóng Bảo hiểm điện tử của Khách hàng khi Khách hàng chưa hoàn thành nghĩa vụ thanh toán cho VASS theo quyết định của cơ quan nhà nước có thẩm quyền hoặc chưa thanh toán xong các khoản nợ phải trả cho VASS;</p>
            <p>3.1.8. Được miễn trừ mọi trách nhiệm về kinh tế và pháp lý đối với bất kỳ thiệt hại và/hoặc tổn thất của Khách hàng trong các trường hợp sau:</p>
            <ol style="list-style-type: lower-alpha">
                <li>Những thiệt hại, tổn thất của Khách hàng phát sinh trong quá trình sử dụng dịch vụ trừ khi những thiệt hại, tổn thất này là do lỗi cố ý của VASS.</li>
                <li>Những thiệt hại trực tiếp hoặc gián tiếp mà Khách hàng phải chịu phát sinh từ/do:</li>
                <ul style="list-style-type: disc">
                    <li>Khách hàng để mất, lộ tên truy cập, mật khẩu và/hoặc các thông tin định danh khác mà VASS cung cấp dẫn đến người khác dùng những thông tin này để sử dụng dịch vụ hoặc tiếp cận những thông tin mà dịch vụ cung ứng;</li>
                    <li>Khách hàng không nhận được tin nhắn hoặc chậm nhận được tin nhắn không do lỗi gửi tin nhắn của VASS;</li>
                    <li>Việc tin nhắn được thực hiện bởi một bên thứ ba mà người này, bằng bất cứ cách nào, thực hiện việc kết nối thiết bị của họ tới số điện thoại mà Khách hàng đã đăng ký;</li>
                    <li>Khi xảy ra sự kiện bất khả kháng quy định tại Điều 5 Điều khoản này;</li>
                    <li>Sự trì hoãn, chậm trễ, tình trạng không sẵn sàng sử dụng hoặc bất kỳ sự cố nào xảy ra trong quá trình cung cấp dịch vụ do các nguyên nhân ngoài khả năng kiểm soát hợp lý của VASS, bao gồm nhưng không giới hạn ở tình trạng gián đoạn do dịch vụ cần được nâng cấp, sửa chữa; lỗi đường truyền của nhà cung cấp dịch vụ internet…;</li>
                </ul>
            </ol>
            <p>3.1.9. VASS có quyền thay đổi, ngừng hoặc chấm dứt cung cấp dịch vụ của VASS. Trong trường hợp này, VASS sẽ thông báo cho Khách hàng về việc thay đổi, ngừng hoặc chấm dứt cung cấp dịch vụ bằng văn bản hoặc qua thư điện tử (email) trong vòng… ngày làm việc.</p>
            <p>3.1.10. Được áp dụng phí dịch vụ và/hoặc lệ phí đối với Sản Phẩm/Dịch Vụ được VASS quy định tại từng thời kỳ.</p>
            <p>3.1.11. Các quyền khác theo quy định của Điều khoản này và các quy định có liên quan theo quy định của Pháp luật hiện hành.</p>
            <p><b>3.2. Trách nhiệm của VASS</b></p>
            <p>3.2.1. Đảm bảo các quyền lợi của Khách hàng theo Điều khoản này;</p>
            <p>3.2.2. Bảo mật các thông tin liên quan đến Khách hàng, Tài khoản và Giao dịch theo quy định của pháp luật;</p>
            <p>3.2.3. Khoá tài khoản của Khách hàng ngay khi VASS nhận được và xác minh thông báo của Khách hàng về việc lộ thông tin đăng nhập, mật khẩu giao dịch của Khách hàng;</p>
            <p>3.2.4. Thực hiện đầy đủ, kịp thời các lệnh nạp tiền/chuyển tiền/rút tiền/thanh toán của Khách hàng sau khi đã kiểm tra, kiểm soát tính hợp pháp, hợp lệ của yêu cầu của Khách hàng;</p>
            <p>3.2.5. Cập nhật kịp thời các thông tin khi có thông báo thay đổi bất kỳ nội dung nào trong hồ sơ Bảo hiểm điện tử của Khách hàng;</p>
            <p>3.2.6. Cung cấp thông tin định kỳ, đột xuất một cách đầy đủ, kịp thời về các giao dịch thanh toán, số dư, hạn mức liên quan đến việc sử dụng dịch vụ khi có yêu cầu của Khách hàng và chịu trách nhiệm về tính chính xác đối với những thông tin đó;</p>
            <p>3.2.7. Hoàn trả kịp thời các khoản tiền cho Khách hàng do sai sót, nhầm lẫn trong việc thực hiện các lệnh thanh toán;</p>
            <p>3.2.8. Xây dựng quy trình nội bộ về việc cung ứng dịch vụ của VASS, hướng dẫn, thông báo công khai để Khách hàng biết và giải đáp, xử lý các thắc mắc, khiếu nại của Khách hàng trong quá trình sử dụng dịch vụ;</p>
            <p>3.2.9. Các trách nhiệm khác theo quy định của pháp luật hiện hành.</p>
            <br>
            <h5><b><u>ĐIỀU 4. QUYỀN VÀ TRÁCH NHIỆM CỦA KHÁCH HÀNG</u></b></h5>
            <br>
            <p><b>4.1. Quyền của Khách hàng</b></p>
            <p>4.1.1. Được lựa chọn và sử dụng dịch vụ của VASS cung cấp phù hợp với yêu cầu, khả năng và theo quy định của pháp luật;</p>
            <p>4.1.2. Được yêu cầu VASS thanh toán Bảo hiểm điện tử của mình khi cần bảo hiểm rủi ro, trừ trường hợp các yêu cầu này thuộc phạm vi quyền từ chối của VASS;</p>
            <p>4.1.3. Được quyền yêu cầu cung cấp các thông tin trong quá trình sử dụng dịch vụ của VASS thông qua thư điện tử, tin nhắn SMS/MMS hoặc gọi điện đến số điện thoại Khách hàng cung cấp để:</p>
            <ol style="list-style-type: lower-alpha">
                <li>Thông báo trạng thái hợp đồng bảo hiểm đăng ký ;</li>
                <li>Giới thiệu, tư vấn, hỗ trợ, thông báo, quảng bá dịch vụ của VASS và/hoặc các dịch vụ khác của VASS, thông báo các sản phẩm, dịch vụ mới, chương trình khuyến mại.</li>
            </ol>
            <p>4.1.4. Có quyền yêu cầu VASS thực hiện các lệnh thanh toán theo yêu cầu của mình và có quyền sử dụng số tiền trên Bảo hiểm điện tửcủa mình thông qua các lệnh thanh toán hợp pháp, hợp lệ, được VASS tạo mọi điều kiện để sử dụng Bảo hiểm điện tử của mình một cách an toàn và hiệu quả nhất;</p>
            <p>4.1.6. Các quyền khác theo quy định của Điều khoản này và quy định của pháp luật hiện hành.</p>
            <p><b>4.2. Trách nhiệm của Khách hàng</b></p>
            <p>4.2.1. Tuân thủ đầy đủ các quy định về mở, sử dụng tài khoản của VASS và Quy định hiện hành của pháp luật; Khi Khách hàng đồng ý mở và sử dụng tài khoản của VASS, đồng nghĩa với việc Khách hàng mặc nhiên đồng ý với các điều khoản sử dụng Dịch vụ Ứng dụng Bảo hiểm điện tửcủa VASS;</p>
            <p>4.2.2. Cung cấp đầy đủ, chính xác các thông tin cần thiết theo yêu cầu của VASS khi đăng ký Dịch vụ và trong quá trình sử dụng Dịch vụ;</p>
            <p>4.2.3. Ủy quyền cho VASS trích tiền từ Tài khoản của mình để thanh toán giá trị các Giao dịch, các loại phí liên quan đến Giao dịch, phí giải quyết tranh chấp của Khách hàng phát sinh với VASS theo quy định của VASS và pháp luật;</p>
            <p>4.2.5. Chịu trách nhiệm bảo mật Mật khẩu và thực hiện tất cả các biện pháp cần thiết ở mức độ cao nhất nhằm phòng chống việc sử dụng trái phép Tài khoản và Mật khẩu là các phương tiện giúp Khách hàng sử dụng Dịch vụ. Khách hàng cam kết không viết, tiết lộ dù vô tình hay cố ý Mật khẩu cho bất kỳ ai tại bất kỳ nơi nào và vào bất kỳ thời điểm nào. Khách hàng có nghĩa vụ đổi mật khẩu ngay sau khi được VASS cung cấp. VASS khuyến cáo Khách hàng không chọn Mật khẩu là những số dễ đoán như ngày sinh, số điện thoại, không lưu Mật khẩu và Tài khoản tại bất kỳ phần mềm nào có tính năng lưu lại tự động (Bảo hiểm điện tử dụ, tính năng "nhớ mật khẩu" hoặc tính năng tương tự trên trang web đang sử dụng);</p>
            <p>4.2.6. Thông báo bằng hình thức nhanh nhất cho VASS khi phát hiện hoặc nghi ngờ việc truy cập trái phép Dịch vụ được VASS cung cấp cho Khách hàng; hoặc nghi ngờ có người biết Mật khẩu của Khách hàng theo số điện thoại <b>1900 9249</b> của VASS;</p>
            <p>4.2.7. Thanh toán đầy đủ các khoản phí liên quan đến Dịch vụ theo biểu phí được VASS quy định theo từng thời kỳ;</p>
            <p>4.2.8. Thông báo ngay cho VASS những thay đổi về thông tin cá nhân của Khách hàng theo yêu cầu của VASS;</p>
            <p>4.2.9. Hợp tác và cung cấp đầy đủ thông tin cần thiết theo yêu cầu của VASS phù hợp với thỏa thuận với VASS và quy định pháp luật;</p>
            <p>4.2.10. Sử dụng dịch vụ và quản lý Tài khoản theo đúng quy định của VASS;</p>
            <p>4.2.11. Cam kết thực hiện các quy trình về giao dịch điện tử do VASS quy định;</p>
            <p>4.2.12. Các trách nhiệm khác theo quy định của Điều khoản này và các quy định có liên quan của pháp luật.</p>
            <br>
            <h5><b><u>ĐIỀU 5. BẤT KHẢ KHÁNG</u></b></h5>
            <br>
            <p>Sự kiện bất khả kháng được hiểu là các sự kiện xảy ra một cách khách quan không thể lường trước được và không thể khắc phục được, mặc dù đã áp dụng mọi biện pháp cần thiết, bao gồm nhưng không giới hạn ở các sự kiện như thiên tai, hoả hoạn, lũ lụt, động đất, tai nạn, thảm hoạ, hạn chế về dịch bệnh, nhiễm hạt nhân hoặc phóng xạ, chiến tranh, nội chiến, khởi nghĩa, đình công hoặc bạo loạn, can thiệp của cơ quan Chính phủ…Nếu VASS hoặc Khách hàng không thể thực thi được một phần hoặc toàn bộ nghĩa vụ của mình theo Điều khoản này do sự kiện bất khả kháng gây ra thì phải nhanh chóng thông báo cho bên kia bằng thư điện tử về việc không thực hiện được nghĩa vụ của mình.</p>
            <br>
            <h5><b><u>ĐIỀU 6. BẢO MẬT</u></b></h5>
            <br>
            <p>VASS cam kết bảo mật thông tin liên quan đến Bảo hiểm điện tửvà các giao dịch trên Bảo hiểm điện tửcủa Khách hàng theo quy định của pháp luật, không tiết lộ hoặc phát tán thông tin của Khách hàng cho bên thứ ba khi không được sự đồng ý của chính người đó.</p>
            <p class="mb-0">Khách hàng cam kết:</p>
            <ul class="mb-3">
                <li>Đảm bảo an toàn và bí mật đối với bất kỳ tên truy cập, mật khẩu truy cập, và các thông tin định danh khác mà VASS cung cấp. Khách hàng hoàn toàn tự chịu trách nhiệm trong trường hợp tên truy cập, mật khẩu truy cập và các thông tin định danh khác bị mất, lợi dụng, tiết lộ cho bên thứ ba bất kỳ và sẽ chịu mọi rủi ro, thiệt hại gây ra (nếu có) do việc sử dụng của bên thứ ba đó.</li>
                <li>Nếu Khách hàng tiếp nhận được thông tin Khách hàng khác của VASS khi sử dụng dịch vụ của VASS dù dưới bất cứ hình thức nào, theo bất kỳ phương thức nào, Khách hàng phải bảo mật thông tin, không được tiết lộ hoặc phát tán thông tin này đến người khác và/hoặc dùng nó vào mục đích khác trừ khi có sự đồng ý của Khách hàng đó.</li>
            </ul>
            <br>
            <h5><b><u>ĐIỀU 7. QUYỀN SỞ HỮU TRÍ TUỆ</u></b></h5>
            <br>
            <p class="mb-0">Các website (bao gồm nhưng không giới hạn các tên miền), ứng dụng, giải pháp, các hàng hóa, dịch vụ, logo và những nội dung khác liên quan đến VASS và dịch vụ của VASS đều thuộc quyền quản lý, sở hữu và sử dụng hợp pháp, toàn vẹn và không chuyển giao của VASS. Khách hàng phải tôn trọng các quyền này và VASS nghiêm cấm mọi hành vi xâm phạm quyền sở hữu trí tuệ của VASS. Khách hàng cam kết:</p>
            <ul class="mb-3">
                <li>Tôn trọng quyền sở hữu trí tuệ của VASS và các sản phẩm trong dịch vụ của VASS; không tự ý thay đổi tên gọi, hình ảnh và các thành phần liên quan đến thương hiệu của các sản phẩm của VASS tại bất kỳ đâu.</li>
                <li>Không thực hiện hoặc giúp đỡ bên thứ ba thực hiện các hành vi xâm phạm đến quyền sở hữu trí tuệ của VASS.</li>
                <li>Hợp tác và cung cấp thông tin theo yêu cầu của VASS trong quá trình điều tra các trường hợp nghi ngờ phạm pháp, lừa đảo hoặc vi phạm các quy định của VASS.</li>
            </ul>
            <br>
            <h5><b><u>ĐIỀU 8. LUẬT ĐIỀU CHỈNH VÀ GIẢI QUYẾT TRANH CHẤP</u></b></h5>
            <br>
            <p>Điều khoản này được điều chỉnh bởi pháp luật Việt Nam. Nếu có bất kỳ tranh chấp nào liên quan đến việc giải thích từ ngữ trong Điều khoản này thì việc giải thích từ ngữ theo ý chí của VASS sẽ được ưu tiên áp dụng. Nếu có bất kỳ tranh chấp nào phát sinh từ việc thực hiện Hợp đồng giữa Khách hàng và VASS, thì tranh chấp đó trước hết sẽ được giải quyết thông qua thương lượng, hoà giải. Trường hợp hoà giải không thành, các Bên có quyền đưa tranh chấp ra Toà án có thẩm quyền để giải quyết.</p>
        </div>
    </div>
    <div class="sec-bottom">
        <img class="img-fluid w-100" src="~/public/assets/images/section2-bottom.png" alt="">
    </div>
</section>
<section id="contact" class="page-section">
    <div class="container">
        <header class="sec-header">
            <h1>TÔI CẦN TƯ VẤN TRỰC TIẾP?</h1>
        </header>
        <div class="sec-content contact-form-wrapper">
            <div class="row">
                <div class="col-sm-5 col-lg-4">
                    <div class="contact-form">
                        <h5 class="mb-4">Gửi ngay câu hỏi qua email</h5>
                        <form action="~/dieu-khoan-su-dung.html" onsubmit="return loading();" method="post" accept-charset="utf-8">
                            <input type="hidden" name="csrf_security" value="632e9521c3723dbef47eb9bb11bd3c88" style="display:none;" />
                            <div class="form-group input-effect">
                                <input type="text" name="fullname" class="form-control label-effect" id="name" required>
                                <label for="name">Họ và tên</label>
                            </div>
                            <div class="form-group input-effect">
                                <input type="tel" name="phone" class="form-control label-effect" id="phone" required>
                                <label for="phone">Số điện thoại</label>
                            </div>
                            <div class="form-group input-effect">
                                <input type="email" name="email" class="form-control label-effect" id="email" required>
                                <label for="email">Email</label>
                            </div>
                            <div class="form-group">
                                <label for="content" class="sr-only">Nội dung cần tư vấn</label>
                                <textarea class="form-control" name="content" id="content" rows="4" placeholder="Bất kỳ vấn đề gì bạn thắc mắc..." required></textarea>
                            </div>
                            <button type="submit" class="btn btn-block btn-lian-warning mb-3">Tư vấn cho tôi</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-7 col-lg-8">
                    <img class="img-fluid w-100" src="~/public/assets/images/contact-form.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>